.bettermode/configs.json
.bettermode/collaborators.json
.bettermode/publications.json
.bettermode.dev/configs.json
.bettermode.dev/collaborators.json
.bettermode.dev/publications.json

node_modules
dist
.yarn
.env

# Ignore DevSpace cache and log folder
.devspace/
.DS_Store